<p>You have already applied for this position.</p>
<%= link_to "View Application", [:candidate, application], class: "btn btn-default" %>
<%= link_to "Delete Application", [position, :candidate, application], class: "btn btn-danger",
method: :delete, data: { confirm: "Are You Sure?" }, remote: true %>