<div class="feature col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <h3><%= feature %></h3>
  <span class="holder">
    <% icons.each do |i| %>
      <%= icon i %>
    <% end %>
  </span>
  <p class="desc"><%= desc %></p>
</div>