<section class="companies container-fluid">
  <ul id="all-companies" class="all-companies row list-group">
    <% @companies.each do |c| %>
    <li class="col-md-4 col-sm-12 list-group-item <%= "list-group-item-success" if c.id == @my_company_id %>"><%= link_to c, c %></li>
    <% end %>
  </ul>
</section>
