<section class="my-applications container-fluid">
  <div class="row foreword">
    <div class="col-md-12 col-md-12 text-center">
      <h2 class="mt-0">My Applications</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="panel-group applications" id="accordion">
        <%= render @applications %>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="well" id="application-pane">
        <%= render "viewport", application: @applications[0] %>
      </div>
    </div>
  </div>
</section>